PROJECT_NAME="OCR API"
VLLM_BASE_URL="https://your-vllm-server-url/v1"
VLLM_MODEL_NAME="Qwen/Qwen3-VL-2B-Instruct"
VLLM_API_KEY="your-api-key"

OCR_LANG="vi"
OCR_VERSION="PP-OCRv5"
OCR_TEXT_REC_SCORE_THRESH="0.5"